﻿@using InterForum.Models

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title> Forum FATEC</title>
    <link rel="icon" type="image/png" href="assets/images/favicon.png" />

    <!--Core CSS -->
    <link href="~/Content/css/bulma.css" rel="stylesheet" />
    <link href="~/Content/css/core.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
    <!--Libraries-->
    <link href="~/Content/css/icons.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">

    <script src="https://cdn.ckeditor.com/ckeditor5/11.1.1/classic/ckeditor.js"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.js"
            integrity="sha256-fNXJFIlca05BIO2Y5zh1xrShK3ME+/lYZ0j+ChxX2DA="
            crossorigin="anonymous"></script>

</head>
<body>
    <div id="preloader">
        <div id="status"></div>
    </div>


    <section class="hero is-fullheight is-default is-bold">

        <nav class="navbar is-fresh is-transparent no-shadow" role="navigation" aria-label="main navigation">
            <div class="container">
                <div class="navbar-brand">
                    <a class="navbar-item" href="https://cssninja.io">
                        <img src="assets/images/logos/fresh-alt.svg" alt="" width="112" height="28">
                    </a>

                    <a class="navbar-item is-hidden-desktop is-hidden-tablet">
                        <div id="menu-icon-wrapper" class="menu-icon-wrapper" style="visibility: visible;">
                            <svg width="1000px" height="1000px">
                                <path class="path1" d="M 300 400 L 700 400 C 900 400 900 750 600 850 A 400 400 0 0 1 200 200 L 800 800"></path>
                                <path class="path2" d="M 300 500 L 700 500"></path>
                                <path class="path3" d="M 700 600 L 300 600 C 100 600 100 200 400 150 A 400 380 0 1 1 200 800 L 800 200"></path>
                            </svg>
                            <button id="menu-icon-trigger" class="menu-icon-trigger"></button>
                        </div>
                    </a>

                    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar-menu">
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                    </a>
                </div>

                <div id="navbar-menu" class="navbar-menu is-static">

                    <div class="navbar-start">
                        <a class="navbar-item is-hidden-mobile">
                            <div id="menu-icon-wrapper" class="menu-icon-wrapper" style="visibility: visible;">
                                <svg width="1000px" height="1000px">
                                    <path class="path1" d="M 300 400 L 700 400 C 900 400 900 750 600 850 A 400 400 0 0 1 200 200 L 800 800"></path>
                                    <path class="path2" d="M 300 500 L 700 500"></path>
                                    <path class="path3" d="M 700 600 L 300 600 C 100 600 100 200 400 150 A 400 380 0 1 1 200 800 L 800 200"></path>
                                </svg>
                                <button id="menu-icon-trigger" class="menu-icon-trigger"></button>
                            </div>
                        </a>
                    </div>

                    <div class="navbar-end">
                        
                        <div class="navbar-item has-dropdown is-hoverable">
                            <a class="navbar-link">
                                Cursos
                            </a>

                            <div class="navbar-dropdown">
                                <a class="navbar-item">
                                    Análise e Desenvolvimento de Sistemas
                                </a>
                                <a class="navbar-item">
                                    Agronegócio
                                </a>
                                <a class="navbar-item">
                                    Informática para Negócios
                                </a>
                            </div>
                        </div>
                        <a href="#" class="navbar-item is-secondary">
                            @{
                                Usuario u3 = (Usuario)HttpContext.Current.Session["usuario"];

                            }
                            @u3.Nome
                        </a>
                       
                    </div>
                </div>
            </div>
        </nav>
        <nav id="navbar-clone" class="navbar is-fresh is-transparent" role="navigation" aria-label="main navigation">
            <div class="container">
                <div class="navbar-brand">
                    <a class="navbar-item" href="https://cssninja.io">
                        <img src="assets/images/logos/fresh-alt.svg" alt="" width="112" height="28">
                    </a>

                    <a class="navbar-item is-hidden-desktop is-hidden-tablet">
                        <div id="menu-icon-wrapper" class="menu-icon-wrapper" style="visibility: visible;">
                            <svg width="1000px" height="1000px">
                                <path class="path1" d="M 300 400 L 700 400 C 900 400 900 750 600 850 A 400 400 0 0 1 200 200 L 800 800"></path>
                                <path class="path2" d="M 300 500 L 700 500"></path>
                                <path class="path3" d="M 700 600 L 300 600 C 100 600 100 200 400 150 A 400 380 0 1 1 200 800 L 800 200"></path>
                            </svg>
                            <button id="menu-icon-trigger" class="menu-icon-trigger"></button>
                        </div>
                    </a>

                    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="cloned-navbar-menu">
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                    </a>
                </div>

                <div id="cloned-navbar-menu" class="navbar-menu is-fixed">

                    <div class="navbar-start">
                        <a class="navbar-item is-hidden-mobile">
                            <div id="cloned-menu-icon-wrapper" class="menu-icon-wrapper" style="visibility: visible;">
                                <svg width="1000px" height="1000px">
                                    <path class="path1" d="M 300 400 L 700 400 C 900 400 900 750 600 850 A 400 400 0 0 1 200 200 L 800 800"></path>
                                    <path class="path2" d="M 300 500 L 700 500"></path>
                                    <path class="path3" d="M 700 600 L 300 600 C 100 600 100 200 400 150 A 400 380 0 1 1 200 800 L 800 200"></path>
                                </svg>
                                <button id="cloned-menu-icon-trigger" class="menu-icon-trigger"></button>
                            </div>
                        </a>
                    </div>

                    <div class="navbar-end">

                        <div class="navbar-item has-dropdown is-hoverable">
                            <a class="navbar-link">
                                Cursos
                            </a>

                            <div class="navbar-dropdown">
                                <a class="navbar-item">
                                    Análise e Desenvolvimento de Sistemas
                                </a>
                                <a class="navbar-item">
                                    Agronegócio
                                </a>
                                <a class="navbar-item">
                                    Informática para Negócios
                                </a>
                            </div>
                        </div>
                        <a href="#" class="navbar-item is-secondary">
                            @{
                                Usuario u2 = (Usuario)HttpContext.Current.Session["usuario"];

                            }
                            @u2.Nome
                        </a>
                        <!--
       <a class="navbar-item">
         <span class="button signup-button rounded secondary-btn raised">
             Cadastre-se
         </span>
     </a>
    -->
                    </div>
                </div>
            </div>
        </nav>
        <div class="column">
            <div class="container">
                <div class="columns is-vcentered">
                    <div class="column is-full landing-caption">

                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
            

       
    </section>

    <footer class="footer footer-dark">
        <p>Created by: Seloiro</p>
    </footer>
    <!-- Back To Top Button -->
    <div id="backtotop"><a href="#"></a></div>        <div class="sidebar">
        <div class="sidebar-header">
            @{ 
                Usuario u = (Usuario)HttpContext.Current.Session["usuario"];

            }
            <p style="foncolor: white">@u.Nome</p>
  +
            <a class="sidebar-close" href="javascript:void(0);"><i data-feather="x"></i></a>
        </div>
        <div class="inner">
            <ul class="sidebar-menu">
                <li><span class="nav-section-title"></span></li>
                <li>
                    <a href="/Postagem/Create"><span class="fa fa-pen"></span>Nova postagem</a>
                </li>
                <li>
                    <a href="/Postagem/Index"><span class="fa fa-search"></span>Pesquisar</a>
                </li>
            </ul>
        </div>
    </div>        <!-- jQuery first, then Bootstrap JS. -->

    <div>


    </div>

    <!-- JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    <!--script src="assets/js/jquery-panelslider/jquery.panelslider.min.js"></script-->
    <script src="~/Scripts/fresh.js"></script>
    <script src="~/Scripts/app.js"></script>
    <!-- /JS -->
</body>
</html>
