﻿
@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login - Fatec Forum</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.0.26/css/bulma.css">
    <!-- Fontawesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <!-- Bulma Version 0.7.2-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/login.css">
</head>

<body>
    <section class="hero is-Light is-fullheight">
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="column is-4 is-offset-4">
                    <h3 class="title has-text-grey">Login</h3>
                    <p class="subtitle has-text-grey">Faça login para prosseguir</p>
                    <div class="box is-large">
                        <span>
                            <i class="fas fa-user fa-8x"></i>
                        </span>
                        <form action="/usuario/CadLogin" method="post">
                             <div class="field">
                                <div class="control">
                                    <input class="input is-large" type="email" name="email"placeholder="Email">
                                </div>
                            </div>
                            <h3 class="title"></h3>
                            <div class="field">
                                <div class="control">
                                    <input class="input is-large" type="password" name="Senha" placeholder="Senha">
                                    <h4 class="title"></h4>
                                    <h5 class="title"></h5>
                                </div>
                            </div>
                            
                            <button class="button is-block is-dark is-large is-fullwidth" id="btn-login">Login</button>
                        </form>
                    </div>


                </div>
                <p class="has-text-grey">
                    <a href="../TELA DE CADASTRO">Cadastrar</a> &nbsp;·&nbsp;
                    <a href="../Esqueci a senha">Esqueci a senha</a> &nbsp;·&nbsp;

                </p>
            </div>
        </div>
    </section>
    <!--<script async type="text/javascript" src="../js/bulma.js"></script> -->
</body>

</html>
