﻿
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/LayoutIndex.cshtml";
}

<form action="/curso/create" method="post">
    <h1>Create</h1>


    <div class="form-group">
        <label>Nome</label>
        <input type="text" name="Nome" class="form-control" />
    </div>

    <div class="form-group">
        <label>Periodo</label>
        <input type="text" name="Periodo" class="form-control" />
    </div>

    <div class="form-group">
        <label>Coordenador</label>
        <input type="text" name="Coordenador" class="form-control" />
    </div>

    <button class="btn btn-dark"><i class="fas fa-save"></i> Salvar</button>
</form>

