﻿
@{
    ViewBag.Title = "Read";
    Layout = "~/Views/LayoutPadrao.cshtml";
}

<h1>Cursos</h1>

<table class="table table-hover table-striped table-sm">

    @foreach (var c in ViewBag.lista)
    {
        <tr>
            <td>@c.CursoId</td>
            <td>@c.Nome</td>
            <td>@c.Periodo</td>
            <td>@c.Coordenador</td>
            <td>
                <a href="/curso/delete/@c.CursoId">Apagar</a>
                <a href="/curso/update/@c.CursoId">Editar</a>
            </td>
        </tr>
    }

</table>

<a href="/curso/create" class="btn btn-dark"><i class="fas fa-plus"></i> Adicionar</a>

