﻿
@{
    ViewBag.Title = "Update";
    Layout = "~/Views/LayoutPadrao.cshtml";
}

<form action="/curso/update" method="post">
    <h1>Atualizar</h1>

    <input type="hidden" name="CursoId" value="@ViewBag.curso.CursoId" />

    <div class="form-group">
        <label>Nome</label>
        <input type="text" name="Nome" class="form-control" value="@ViewBag.curso.Nome" />
    </div>
    
    <div class="form-group">
        <label>Periodo</label>
        <input type="text" name="Periodo" class="form-control" value="@ViewBag.curso.Periodo" />
    </div>
    
    <div class="form-group">
        <label>Coordenador</label>
        <input type="text" name="Coordenador" class="form-control" value="@ViewBag.curso.Coordenador" />
    </div>

    <button class="btn btn-dark"><i class="fas fa-save"></i> Salvar</button>
</form>

