﻿
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/LayoutIndex.cshtml";
}

<h2>Nova postagem</h2>





<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <form action="/Postagem/Create" method="post">

                    <div class="field">
                        <label class="label">Título</label>
                        <div class="control">
                            <input class="input" name="titulo" type="text" placeholder="Text input">
                        </div>
                    </div>

                    <label class="label" for="Conteudo">Pergunta</label>
                    <div class="field">
                        <div class="control">
                            <textarea class="textarea" name="conteudo" type="text" placeholder="Normal textarea"></textarea>
                        </div>
                    </div>

                    <button class="button is-success"><i class=""></i> Enviar</button>
                </form>
            </div>

        </div>
    </div>
</div>

<hr />

<h1 class="title is-3">Criar uma Postagem</h1>
<div class="columns ">
    <div class="column ">
        <div class="content">
            <td width="5%"><i class="fas fa-user-circle fa-2x"></i></td>
            <td>Edgado</td>
        </div>
        <article class="media">
            <!--<figure class="media-left">
                <td width="5%"><i class="fas fa-user-circle fa-2x"></i></td>
            </figure>-->
            <div class="media-content">
                <div class="field">
                    <label class="label">Título</label>
                    <div class="control">
                        <input class="input" name="titulo" type="text" placeholder="Text input">
                    </div>
                </div>

                <div class="field">
                    <textarea name="content" id="editor"></textarea>
                    <script>
                        ClassicEditor
                            .create(document.querySelector('#editor'))
                            .catch(error => {
                                console.error(error);
                            });
                    </script>
                </div>
                <div class="field">
                    <p class="control">
                        <button class="button is-primary">Postar</button>
                        <button class="button is-primary">Editar</button>
                        <button class="button is-primary">Excluir</button>
                        <button class="button is-primary"><i class="fa fa-plus"></i></button>
                    </p>
                </div>
            </div>
        </article>
    </div>

</div>