﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/LayoutIndex.cshtml";
}


<h2>Tópicos</h2>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12" align="center">
            <table class="table" style="width:100%">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Titulo</th>
                        <th scope="col">Conteudo</th>
                    </tr>
                    @foreach (var c in Model)
                    {
                    
                        <tr>
                           
                            <td> <a href="/Postagem/PostDetail/@c.PostagemId">@c.Titulo     </a></td>
                            <td> <a href="/Postagem/PostDetail/@c.PostagemId">@c.Conteudo   </a></td>
                            <td> <a href="/Postagem/Update/@c.PostagemId"><button class="button is-success">Editar</button> </a></td>
                            
                        </tr>
                    
                    }
                </thead>
            </table>

            <a href="/postagem/create"> <div class="btn btn-dark" style="float: right;"><i class="fas fa-save"></i> Criar postagem</div></a>
        </div>
    </div>
</div>
