﻿
@{
    ViewBag.Title = "PostDetail";
    Layout = "~/Views/LayoutIndex.cshtml";
}
<h1 class="title is-3">Feed de Noticias</h1>
<div class="columns ">
    <div class="column">
        <div class="content">
            <figure class="media-left"></figure>
            <td width="5%"><i class="fas fa-user-circle fa-2x"></i></td>
            <td>Edgado</td>
            <h2 class="title is-2">@ViewBag.postagem.Titulo</h2>
            <pre>
            <code class="resposta">@ViewBag.postagem.Conteudo</code>
					</pre>
            <div class="tags are-medium">
                <span class="tag is-danger is-medium">Cálculo</span>
                <span class="tag is-dark is-medium">Palmirinha</span>
                <span class="tag is-warning is-medium">Calculadora científica</span>
                <span class="tag is-primary is-medium">Sub</span>
            </div>
        </div>
        @foreach (var comment in ViewBag.comentarios)
        {
            <article class="media">
                <figure class="media-left">
                    <td width="5%"><i class="fas fa-user-circle fa-2x"></i></td>
                </figure>
                <div class="media-content">
                    <div class="content">
                        <p>
                            <strong>Nome</strong>
                            <br />
                            @comment.Conteudo
                            <br />
                        </p>
                    </div>
                </div>

            </article>

        }
        <form action="/comentarios/create" method="post">
            <article class="media">
                <figure class="media-left">
                    <td width="5%"><i class="fas fa-user-circle fa-2x"></i></td>
                </figure>
                <div class="media-content">
                    <div class="field">
                        <textarea name="conteudo" id="editor"></textarea>
                        <script>
                           
                        </script>
                    </div>
                    <div class="field">
                        <p class="control">
                            <button class="button is-primary" id="postarComentario">Postar</button>
                            <button class="button is-primary">Anexar</button>
                        </p>
                    </div>
                </div>
            </article>
            </form>

    </div>
</div>

<input type="hidden" id="postagemid" value="@ViewBag.postagem.PostagemId" />


<!-- SCRIPTS -->
<script src="~/Content/js/postagem.js"></script>

 