﻿
@{
    ViewBag.Title = "Update";
    Layout = "~/Views/LayoutIndex.cshtml";
}

<h2>Update</h2>


<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <form action="/Postagem/Update" method="post">
                <div class="form-group">
                    <label for="Titulo">Título</label>
                    <input type="text" value="@Model.Titulo" class="input" id="Titulo" name="Titulo" placeholder="Digite o titulo do tópico">
                </div>
                <br />
                <div class="form-group">
                    <label for="Conteudo">Pergunta</label>
                    <textarea class="input" id="Conteudo" name="Conteudo" rows="3">@Model.Conteudo</textarea>
                </div>
                <br />
                <input type="hidden" class="input" name="PostagemId" value="@Model.PostagemId" />
            </form>

            
            <a href="/Postagem/Delete/@Model.PostagemId"> <div class="btn btn-dark"><i class="fas fa-save"></i> Excluir postagem</div></a> 
        </div>
    </div>
</div>