﻿
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/LayoutPadrao.cshtml";
}

<form action="/disciplina/create" method="post">
    <h1>Adicionar Disciplina</h1>

    <div class="form-group">
        <label>Nome</label>
        <input type="text" name="Nome" class="form-control" />
    </div>

    <button class="btn btn-dark"><i class="fas fa-save"></i> Salvar</button>
</form>