﻿
@{
    ViewBag.Title = "Read";
    Layout = "~/Views/LayoutPadrao.cshtml";
}

<h2>Disciplinas</h2>

<table class="table table-hover table-striped table-sm">

    @foreach (var d in ViewBag.lista)
    {
        <tr>
            <td>@d.DisciplinaId</td>
            <td>@d.Nome</td>
            <td>
                <a href="/disciplina/delete/@d.DisciplinaId">Apagar</a>
                <a href="/disciplina/update/@d.DisciplinaId">Editar</a>
            </td>
        </tr>
    }

</table>

<a href="/disciplina/create" class="btn btn-dark"><i class="fas fa-plus"></i> Adicionar</a>

