﻿
@{
    ViewBag.Title = "Update";
    Layout = "~/Views/LayoutPadrao.cshtml";
}

<form action="/disciplina/update" method="post">
    <h1>Editar Disciplina</h1>

    <input type="hidden" name="DisciplinaId" value="@ViewBag.disciplina.DisciplinaId" />

    <div class="form-group">
        <label>Nome</label>
        <input type="text" name="Nome" class="form-control" value="@ViewBag.disciplina.Nome" />
    </div>

    <button class="btn btn-dark"><i class="fas fa-save"></i> Salvar</button>
</form>
